@import url("https://fonts.googleapis.com/css2?family=Phudu:wght@500;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(
    circle,
    rgba(29, 61, 253, 1) 50%,
    rgba(121, 3, 119, 1) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header1 {
  display: flex;
  text-shadow: #ccc 1px 0 10px;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1rem;
}

h1 {
  display: flex;
  width: 100%;
  font-family: Phudu, Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 500%;
  color: transparent;
  background: linear-gradient(
    to left,
    #1e5799,
    #2ce0bf,
    #76dd2c,
    #dba62b,
    #e02cbf,
    #1e5799
  );
  background-size: 600px 200%;
  animation: text 15s linear infinite;
  background-clip: text;
  -webkit-background-clip: text;
}

@keyframes text {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 10000px;
  }
}

.principal {
  padding: 2rem;
  width: 900px;
  height: 600px;
  border-radius: 5%;
  font-size: 1.5em;
  box-shadow: 0px 0px 215px rgba(56, 4, 154, 5);
}

.cards {
  /* background-color: #c706fc; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
}
/*cartas*/
li {
  border-radius: 10%;
  box-shadow: 0px 0px 25px rgba(67, 1, 1, 50%);
  list-style: none;
  width: 200px;
  height: 200px;
}

.colorfixed {
  text-align: center;
  -webkit-text-stroke: 0.5px rgba(136, 6, 69, 0.724);
}

footer {
  background-color: #c706fc;
}
